# Copy this file to .env and fill in your real EmailJS credentials
# (or just edit src/utils/constants.js directly — this is optional)
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key




 serviceId: 'service_v508vtr',
  templateId: 'template_u7fzl1a',
  publicKey: 'Tb4rnlxe-JQk0G4Wm',